*{
	font-family: "Signika";
}

h1{
	font-size: 3.5rem;
	color: white;
	text-align: center;
	font-weight: bold;
	line-height: 80px;
}


/* Section d'accueil */

.section{
	text-align: center;
}


#scroll_arrow{
	font-size: 3rem;
	color: white;
	position: absolute;
	top: 50%;
	z-index: 3;
}

#section_accueil h1{
	position: absolute;
	top: 25%;
	width: 100%;
}

#bg {
	position: fixed;
	bottom: 0%;
	left: -50%;
	width: 200%; 
}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 52%;
}
/* Section map */

#map{
	width: 100%;
	height: 100%;
	position: absolute;
}

#map_slider{
	position: absolute;
	bottom: 10%;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

#map_info{
	position: absolute;
	bottom: 20%;
	right: 10%;
	text-align: right;
}

#map_info .big_text{
	font-size: 2.7rem;
}

.not_vertically_centered .fp-tableCell{
     vertical-align: top;
}