*{
	font-family: "Signika";
}

h1{
	font-size: 3.5rem;
	color: white;
	text-align: center;
	font-weight: bold;
	line-height: 80px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.y.axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
}


/* Section d'accueil */

.section{
	text-align: center;
}


#scroll_arrow{
	font-size: 3rem;
	color: white;
	position: absolute;
	top: 50%;
	z-index: 3;
}

#section_accueil h1{
	position: absolute;
	top: 25%;
	width: 100%;
}

#bg {
	position: fixed;
	bottom: 0%;
	left: -50%;
	width: 200%; 
}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 52%;
}
/* Section map */

#map{
	width: 100%;
	height: 100%;
	position: absolute;
}

#map_slider{
	position: absolute;
	bottom: 10%;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

#map_info{
	position: absolute;
	bottom: 20%;
	left: 10%;
	text-align: left;
}

#map_info .big_text{
	font-size: 2.7rem;
}

.not_vertically_centered .fp-tableCell{
     vertical-align: top;
}


/** Neighborhood line char */
#price_by_neighborhood_chart_container{
	position: absolute;
	bottom: 2%;
	width: 70%;
	left: 3%;
	height: 80%;
	text-align: center;
}
#price_by_neighborhood_legend_container{
	position: absolute;
	bottom: 2%;
	width: 27%;
	left: 73%;
	height: 80%;
	text-align: center;
}
#price_by_neighborhood h1{
	text-align: center;
	width: 100%;
	color: black;
	font-size: 3rem;
	margin-top: 40px;
	margin-bottom: 40px;
	position: absolute;
	top: 4%;
}


/* FILTER SECTION */ 

.big_result{
	font-size: 7rem;
}

#filter_result h3{
	font-size: 2rem;
	font-weight: bold;
}

#filter_result h3, #filter_result span{
	color: rgb(255, 90, 95);
}

#filter_section h1{
	color: white;
	background-color: rgb(255, 90, 95);
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 130px;
}